<div class="bottom-menu">
    <div class="bottom-menu__content">
        <a href="#" class="bottom-menu__link active">
            <div class="bottom-menu__link-icon">
                <div class="bottom-menu__link-icon-inner">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#menu-home"></use>
                    </svg>
                </div>
            </div>
            Главная
        </a>
        <a href="#" class="bottom-menu__link">
            <div class="bottom-menu__link-icon">
                <div class="bottom-menu__link-icon-inner">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#menu-catalog"></use>
                    </svg>
                </div>
            </div>
            Каталог
        </a>
        <a href="#" class="bottom-menu__link">
            <div class="bottom-menu__link-icon bottom-menu__link-icon--orange">
                <div class="bottom-menu__link-icon-inner">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#menu-search"></use>
                    </svg>
                </div>
            </div>
            Подбор
        </a>
        <a href="#" class="bottom-menu__link">
            <div class="bottom-menu__link-icon">
                <div class="bottom-menu__link-icon-inner">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#menu-cart"></use>
                    </svg>
                </div>
            </div>
            Каталог
        </a>
        <a href="#" class="bottom-menu__link">
            <div class="bottom-menu__link-icon">
                <div class="bottom-menu__link-icon-inner">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#menu-profile"></use>
                    </svg>
                </div>
            </div>
            Профиль
        </a>
    </div>
</div>