<div class="finder js-finder">
    <div class="finder__content">
        <div class="finder__top">
            <div class="finder__modes">
                <div class="finder__modes-btns">
                    <button class="finder__mode-btn js-finder-mode-btn active">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#finder-mode-car"></use>
                        </svg>
                        Подобрать запчасти по авто
                    </button>
                    <button class="finder__mode-btn js-finder-mode-btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#finder-mode-vin"></use>
                        </svg>
                        Запросить подбор по VIN
                    </button>
                </div>
            </div>
            <button class="finder__my-auto js-show-my-auto-btn" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#finder-my-car"></use>
                </svg>
                <span class="finder__my-auto-text">
                    Мои авто
                </span>
                <span class="finder__my-auto-amount">
                    3
                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#clear"></use>
                </svg>
            </button>
        </div>
        <div class="finder__bottom">
            <div class="finder__find-by-auto active js-auto-mode-layer">
                <form action="/" method="POST" class="finder__auto-form js-auto-mode-form">
                    <div class="finder__auto-selects">
                        {{> brand-select }}
                        {{> model-select }}
                        {{> years-select }}
                        {{> engine-select }}
                        {{> modification-select }}
                    </div>
                    <div class="finder__submit-btn-wrapper">
                        <button class="finder__submit-btn js-auto-mode-submit-btn" type="submit">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#find"></use>
                            </svg>
                            <span class="finder__submit-btn-desktop-text">
                                Подобрать
                            </span>
                            <span class="finder__submit-btn-mobile-text">
                                Показать 1 029 товаров
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="finder__find-by-vin js-vin-mode-layer">
                <form action="/" method="POST" class="finder__find-by-vin-form js-vin-mode-form">
                    <div class="finder__find-by-vin-form-fields">
                        <div class="finder__find-by-vin-form-field">
                            {{> brand-select }}
                        </div>
                        <div class="finder__find-by-vin-form-field">
                            {{> model-select }}
                        </div>
                        <div class="finder__find-by-vin-form-field">
                            <div class="finder__text-input-wrapper">
                                <label class="finder__text-input-label">
                                    <input type="text" class="finder__text-input" placeholder="VIN*" name="vin"
                                        required="" autocomplete="off">
                                    <span class="finder__text-input-label-text">
                                        VIN*</span>
                                </label>
                            </div>
                        </div>
                        <div class="finder__find-by-vin-form-field">
                            <div class="finder__text-input-wrapper">
                                <label class="finder__text-input-label">
                                    <input type="text" class="finder__text-input" placeholder="ФИО*" name="name"
                                        required="" autocomplete="off">
                                    <span class="finder__text-input-label-text">
                                        ФИО*</span>
                                </label>
                            </div>
                        </div>
                        <div class="finder__find-by-vin-form-field">
                            <div class="finder__text-input-wrapper">
                                <label class="finder__text-input-label">
                                    <input type="tel" class="finder__text-input" placeholder="Телефон*" name="phone"
                                        required="" autocomplete="off">
                                    <span class="finder__text-input-label-text">
                                        Телефон*</span>
                                </label>
                            </div>
                        </div>
                        <div class="finder__find-by-vin-form-field">
                            <div class="finder__text-input-wrapper">
                                <label class="finder__text-input-label">
                                    <input type="email" class="finder__text-input" placeholder="Email" name="email"
                                        autocomplete="off">
                                    <span class="finder__text-input-label-text">
                                        Email</span>
                                </label>
                            </div>
                        </div>
                        <div class="finder__find-by-vin-form-field finder__find-by-vin-form-field--large">
                            <div class="finder__text-input-wrapper">
                                <label class="finder__text-input-label finder__text-input-label--stretch">
                                    <textarea name="comment" class="finder__text-input"
                                        placeholder="Интересующие запчасти*" autocomplete="off" required=""></textarea>
                                    <span class="finder__text-input-label-text">
                                        Интересующие запчасти*</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="finder__find-by-vin-form-controls">
                        <div class="finder__find-by-vin-form-policy-wrapper">
                            <label class="finder__find-by-vin-form-policy">
                                <input type="checkbox" name="policy" class="finder__find-by-vin-form-policy-input"
                                    required="">
                                <span class="finder__find-by-vin-form-policy-mark">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="finder__find-by-vin-form-policy-text">
                                    Даю согласие на обработку персональных данных и <a href="#">политику
                                        конфиденциальности</a>
                                </span>
                            </label>
                        </div>
                        <button class="finder__find-by-vin-form-submit" type="submit">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#submit"></use>
                            </svg>
                            Отправить запрос
                        </button>
                    </div>
                </form>
            </div>
            <div class="finder__find-saved-auto js-saved-auto-dropdown">
                <div class="finder__find-saved-auto-wrapper">
                    <div class="finder__find-saved-auto-header">
                        <div class="finder__find-saved-auto-header-item">
                            Марка
                        </div>
                        <div class="finder__find-saved-auto-header-item">
                            Модель
                        </div>
                        <div class="finder__find-saved-auto-header-item">
                            Год
                        </div>
                        <div class="finder__find-saved-auto-header-item">
                            Объем двигателя
                        </div>
                        <div class="finder__find-saved-auto-header-item">
                            Модификация
                        </div>
                        <div class="finder__find-saved-auto-header-item">
                            VIN
                        </div>
                        <div class="finder__find-saved-auto-header-item">
                            Действия
                        </div>
                    </div>
                    <div class="finder__find-saved-auto-items">
                        <div class="finder__find-saved-auto-items-scroll-wrapper">
                            <div class="finder__find-saved-auto-item">
                                <div class="finder__find-saved-auto-item-cell">
                                    Audi
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    A4 B8 (08-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2015
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2.0 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    A4 2.0 TFSI quattro 190 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-apply-btn" type="button">
                                            Выбрать
                                        </button>
                                        <button class="finder__find-saved-auto-remove-btn" type="button">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="finder__find-saved-auto-item">
                                <div class="finder__find-saved-auto-item-cell">
                                    Volkswagen
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    Golf VII (12-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2020
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1.4 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    Golf 1.4 TSI 125 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-apply-btn" type="button">
                                            Выбрать
                                        </button>
                                        <button class="finder__find-saved-auto-remove-btn" type="button">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="finder__find-saved-auto-item finder__find-saved-auto-item--removed">
                                <div class="finder__find-saved-auto-item-cell">
                                    Mercedes-Benz
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    C-Class W205 (14-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2018
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1.5 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    A4 2.0 TFSI quattro 190 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-return-btn" type="button">
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#clock"></use>
                                            </svg>
                                            Вернуть
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="finder__find-saved-auto-item">
                                <div class="finder__find-saved-auto-item-cell">
                                    BMW
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    3 Series G20 (18-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2020
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2.0 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    320i M Sport 184 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-apply-btn" type="button">
                                            Выбрать
                                        </button>
                                        <button class="finder__find-saved-auto-remove-btn" type="button">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="finder__find-saved-auto-item">
                                <div class="finder__find-saved-auto-item-cell">
                                    Audi
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    A4 B8 (08-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2015
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2.0 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    A4 2.0 TFSI quattro 190 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-apply-btn" type="button">
                                            Выбрать
                                        </button>
                                        <button class="finder__find-saved-auto-remove-btn" type="button">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="finder__find-saved-auto-item">
                                <div class="finder__find-saved-auto-item-cell">
                                    Volkswagen
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    Golf VII (12-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2020
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1.4 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    Golf 1.4 TSI 125 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-apply-btn" type="button">
                                            Выбрать
                                        </button>
                                        <button class="finder__find-saved-auto-remove-btn" type="button">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="finder__find-saved-auto-item finder__find-saved-auto-item--removed">
                                <div class="finder__find-saved-auto-item-cell">
                                    Mercedes-Benz
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    C-Class W205 (14-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2018
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1.5 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    A4 2.0 TFSI quattro 190 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-return-btn" type="button">
                                            <svg width="12" height="12" aria-hidden="true">
                                                <use xlink:href="#clock"></use>
                                            </svg>
                                            Вернуть
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="finder__find-saved-auto-item">
                                <div class="finder__find-saved-auto-item-cell">
                                    BMW
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    3 Series G20 (18-)
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2020
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    2.0 бензиновый
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    320i M Sport 184 л.с.
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    1234567890ABCDEFG
                                </div>
                                <div class="finder__find-saved-auto-item-cell">
                                    <div class="finder__find-saved-auto-actions">
                                        <button class="finder__find-saved-auto-apply-btn" type="button">
                                            Выбрать
                                        </button>
                                        <button class="finder__find-saved-auto-remove-btn" type="button">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>