<div class="finder">
    <div class="finder__content">
        <div class="finder__top">
            <div class="finder__modes">
                <div class="finder__modes-btns">
                    <button class="finder__mode-btn active">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#finder-mode-car"></use>
                        </svg>
                        Подобрать запчасти по авто
                    </button>
                    <button class="finder__mode-btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#finder-mode-vin"></use>
                        </svg>
                        Подобрать запчасти по авто
                    </button>
                </div>
            </div>
            <button class="finder__my-auto" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#finder-my-car"></use>
                </svg>
                <span class="finder__my-auto-text">
                    Мои авто
                </span>
                <span class="finder__my-auto-amount">
                    3
                </span>
            </button>
        </div>
        <form action="/" method="POST" class="finder__form">
            <div class="finder__bottom">
                <div class="finder__selects">
                    <div class="finder__select-wrapper">
                        <div class="finder__select js-select">
                            <input type="hidden" name="brand" class="js-select-input">
                            <h3 class="finder__select-title">
                                Марка*
                            </h3>
                            <div class="finder__mobile-popup">
                                <div class="finder__mobile-popup-inner">
                                    <div class="finder__mobile-popup-header">
                                        <button class="finder__mobile-popup-back" type="button">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#back"></use>
                                            </svg>
                                            марка
                                        </button>
                                    </div>
                                    <div class="finder__select-btn-wrapper">
                                        <label class="finder__select-btn-label">
                                            <input type="text" class="finder__select-input js-select-search"
                                                placeholder="Начните ввод" name="brandsearch">
                                            <span class="finder__select-btn-label-text">
                                                Марка
                                            </span>
                                            <div class="finder__select-arrow">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#select-arrow"></use>
                                                </svg>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="finder__select-dropdown js-select-dropdown">
                                        <div class="finder__select-dropdown-inner">
                                            <div class="finder__select-scroll-wrapper">
                                                <div class="finder__select-options">
                                                    <label class="finder__select-option js-select-option">
                                                        <input type="radio" name="brand"
                                                            class="finder__select-option-input" value="BAIC">
                                                        <span class="finder__select-option-text js-select-option-text">
                                                            BAIC
                                                        </span>
                                                    </label>
                                                    <label class="finder__select-option js-select-option">
                                                        <input type="radio" name="brand"
                                                            class="finder__select-option-input" value="BAW">
                                                        <span class="finder__select-option-text js-select-option-text">
                                                            BAW
                                                        </span>
                                                    </label>
                                                    <label class="finder__select-option js-select-option">
                                                        <input type="radio" name="brand"
                                                            class="finder__select-option-input" value="BelAZ">
                                                        <span class="finder__select-option-text js-select-option-text">
                                                            BelAZ
                                                        </span>
                                                    </label>
                                                    <label class="finder__select-option js-select-option">
                                                        <input type="radio" name="brand"
                                                            class="finder__select-option-input" value="BELGEE">
                                                        <span class="finder__select-option-text js-select-option-text">
                                                            BELGEE
                                                        </span>
                                                    </label>
                                                    <label class="finder__select-option js-select-option">
                                                        <input type="radio" name="brand"
                                                            class="finder__select-option-input" value="Bentley">
                                                        <span class="finder__select-option-text js-select-option-text">
                                                            Bentley
                                                        </span>
                                                    </label>
                                                    <label class="finder__select-option js-select-option">
                                                        <input type="radio" name="brand"
                                                            class="finder__select-option-input" value="BMW">
                                                        <span class="finder__select-option-text js-select-option-text">
                                                            BMW
                                                        </span>
                                                    </label>
                                                    <label class="finder__select-option js-select-option">
                                                        <input type="radio" name="brand"
                                                            class="finder__select-option-input" value="Bogdan">
                                                        <span class="finder__select-option-text js-select-option-text">
                                                            Bogdan
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="finder__submit-btn-wrapper">
                    <button class="finder__submit-btn" type="submit">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#find"></use>
                        </svg>
                        <span class="finder__submit-btn-desktop-text">
                            Подобрать
                        </span>
                        <span class="finder__submit-btn-mobile-text">
                            Показать 1 029 товаров
                        </span>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>