<div class="finder__select-wrapper js-select">
    <div class="finder__select">
        <h3 class="finder__select-title">
            Группа товаров
        </h3>
        <div class="finder__select-active-wrapper">
            <div class="finder__select-active-tags js-active-tags-list">

            </div>
            <button class="finder__select-more-tags-btn js-show-more-tags" type="button">
                Еще 197
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
        <div class="finder__mobile-popup js-mobile-popup">
            <div class="finder__mobile-popup-inner">
                <div class="finder__mobile-popup-header">
                    <button class="finder__mobile-popup-back js-back-btn" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#back"></use>
                        </svg>
                        Группа товаров
                    </button>
                </div>
                <div class="finder__select-group">
                    <div class="finder__select-group-inner">
                        <div class="finder__select-btn-wrapper">
                            <label class="finder__select-btn-label">
                                <input type="text" class="finder__select-input js-select-search"
                                    placeholder="Начните ввод" autocomplete="off">
                                <span class="finder__select-btn-label-text">
                                    Группа товаров
                                </span>
                                <div class="finder__select-count js-select-count">

                                </div>
                                <div class="finder__select-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </div>
                                <div class="finder__select-search-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </div>
                            </label>
                            <button class="finder__select-clear-btn js-select-clear" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="finder__select-dropdown js-select-dropdown">
                            <div class="finder__select-dropdown-inner">
                                <div class="finder__select-scroll-wrapper">
                                    <div class="finder__select-multiselect-wrapper">
                                        <div
                                            class="finder__select-multiselect-selected-items js-multiselect-selected-items">

                                        </div>
                                        <button class="finder__select-multiselect-show-all js-multiselect-show-all"
                                            type="button">
                                            <span>
                                                Показать еще
                                            </span>
                                            <span>
                                                Скрыть
                                            </span>
                                        </button>
                                        <button class="finder__select-multiselect-reset js-multiselect-reset"
                                            type="button">
                                            Сбросить все
                                        </button>
                                    </div>

                                    <div class="finder__select-options">
                                        <button class="finder__select-all-btn js-select-all-btn" type="button">
                                            <span class="finder__select-all-btn-mark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                            Выбрать все
                                        </button>
                                        <label class="finder__select-option js-select-popular-option js-select-option">
                                            <input type="checkbox" name="group[]" class="finder__select-option-input"
                                                value="Датчики температуры">
                                            <span class="finder__select-option-text js-select-option-text">
                                                Датчики температуры
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-popular-option js-select-option">
                                            <input type="checkbox" name="group[]" class="finder__select-option-input"
                                                value="Стартеры">
                                            <span class="finder__select-option-text js-select-option-text">
                                                Стартеры
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-popular-option js-select-option">
                                            <input type="checkbox" name="group[]" class="finder__select-option-input"
                                                value="Свечи">
                                            <span class="finder__select-option-text js-select-option-text">
                                                Свечи
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-popular-option js-select-option">
                                            <input type="checkbox" name="group[]" class="finder__select-option-input"
                                                value="Салонный фильтр">
                                            <span class="finder__select-option-text js-select-option-text">
                                                Салонный фильтр
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-popular-option js-select-option">
                                            <input type="checkbox" name="group[]" class="finder__select-option-input"
                                                value="Регуляторы холостого хода">
                                            <span class="finder__select-option-text js-select-option-text">
                                                Регуляторы холостого хода
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-popular-option js-select-option">
                                            <input type="checkbox" name="group[]" class="finder__select-option-input"
                                                value="Термопломбы ">
                                            <span class="finder__select-option-text js-select-option-text">
                                                Термопломбы
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="finder__options-not-found">
                                        Результаты не найдены
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>