<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__top">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Доставка и оплата
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Покупателям
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Акции
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Новинки
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__phone">
                <div class="page-header__phone-text">
                    Бесплатный звонок по России
                </div>
                <a href="tel:+78007002585" class="page-header__phone-link">
                    8 800 700-25-85
                </a>
            </div>
        </div>
        <div class="page-header__bottom">
            <div class="page-header__bottom-panel">
                <a href="#" class="page-header__logo">
                    <img src="/images/header-logo.svg" alt="Лого" class="page-header__logo-image">
                </a>
                <div class="page-header__catalog">
                    <a href="#" class="page-header__catalog-button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#catalog"></use>
                        </svg>
                        Каталог
                    </a>
                </div>
                <div class="page-header__search">
                    <form action="/" method="POST" class="page-header__search-form">
                        <div class="page-header__search-input-wrapper">
                            <input type="search" name="search" class="page-header__search-input"
                                placeholder="Искать на сайте по наименованию или артикулу">
                            <button class="page-header__search-submit" type="submit">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="page-header__links">
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                        <div class="page-header__link-popover">
                            <div class="page-header__link-popover-inner">
                                Корзина
                            </div>
                        </div>
                    </a>
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#fav"></use>
                        </svg>
                        <div class="page-header__link-popover">
                            <div class="page-header__link-popover-inner">
                                Избранное
                            </div>
                        </div>
                    </a>
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#comparisons"></use>
                        </svg>
                        <div class="page-header__link-popover">
                            <div class="page-header__link-popover-inner">
                                Сравнение
                            </div>
                        </div>
                    </a>
                    <a href="#" class="page-header__link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#user"></use>
                        </svg>
                        <div class="page-header__link-popover">
                            <div class="page-header__link-popover-inner">
                                Профиль
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>