<div class="finder__select-wrapper">
    <div class="finder__select js-select" data-required-select="">

        <h3 class="finder__select-title">
            Модель*
        </h3>
        <div class="finder__mobile-popup">
            <div class="finder__mobile-popup-inner">
                <div class="finder__mobile-popup-header">
                    <button class="finder__mobile-popup-back" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#back"></use>
                        </svg>
                        Модель
                    </button>
                </div>
                <div class="finder__select-group js-select-error-container">
                    <div class="finder__select-group-inner">
                        <div class="finder__select-btn-wrapper">
                            <label class="finder__select-btn-label">
                                <input type="text" class="finder__select-input js-select-search"
                                    placeholder="Начните ввод" name="modelsearch">
                                <span class="finder__select-btn-label-text">
                                    Модель
                                </span>
                                <div class="finder__select-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </div>
                            </label>
                            <button class="finder__select-clear-btn js-select-clear" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="finder__select-dropdown js-select-dropdown">
                            <div class="finder__select-dropdown-inner">
                                <div class="finder__select-scroll-wrapper">
                                    <div class="finder__select-options">
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="1 E81/E87 (04-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                1 E81/E87 (04-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="1 F20/F21 (11-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                1 F20/F21 (11-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="2 Active Tourer F45">
                                            <span class="finder__select-option-text js-select-option-text">
                                                2 Active Tourer F45
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="2 F22 (13-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                2 F22 (13-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="2 Gran Tourer F46 (14-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                2 Gran Tourer F46 (14-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="3 E30 (82-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                3 E30 (82-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="3 E36 (90-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                3 E36 (90-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="1 E81/E87 (04-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                1 E81/E87 (04-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="model" class="finder__select-option-input"
                                                value="1 F20/F21 (11-)">
                                            <span class="finder__select-option-text js-select-option-text">
                                                1 F20/F21 (11-)
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="finder__options-not-found">
                                        Результаты не найдены
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>