<div class="finder__select-wrapper js-select js-modification-select">
    <div class="finder__select">
        <h3 class="finder__select-title">
            Модификация
        </h3>
        <div class="finder__select-active-wrapper">
            <div class="finder__select-active-tags js-active-tags-list">

            </div>
            <button class="finder__select-more-tags-btn js-show-more-tags" type="button">
                <span class="finder__select-more-tags-btn-text js-other-tags-count">
                    Еще 12
                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
        <div class="finder__mobile-popup js-mobile-popup">
            <div class="finder__mobile-popup-inner">
                <div class="finder__mobile-popup-header">
                    <button class="finder__mobile-popup-back js-back-btn" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#back"></use>
                        </svg>
                        Модификация
                    </button>
                </div>
                <div class="finder__select-group js-select-error-container">
                    <div class="finder__select-group-inner">
                        <div class="finder__select-btn-wrapper">
                            <label class="finder__select-btn-label">
                                <input type="text" class="finder__select-input js-select-search"
                                    placeholder="Начните ввод" autocomplete="off">
                                <span class="finder__select-btn-label-text">
                                    Модификация
                                </span>
                                <div class="finder__select-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#select-arrow"></use>
                                    </svg>
                                </div>
                                <div class="finder__select-search-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </div>
                            </label>
                            <button class="finder__select-clear-btn js-select-clear" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="finder__select-dropdown js-select-dropdown">
                            <div class="finder__select-dropdown-inner">
                                <div class="finder__select-scroll-wrapper">
                                    <div class="finder__select-options">
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="modification" class="finder__select-option-input"
                                                value="118 d xDrive N47 D20C 143 л.с.">
                                            <span class="finder__select-option-text js-select-option-text">
                                                118 d xDrive N47 D20C 143 л.с.
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-popular-option js-select-option">
                                            <input type="radio" name="modification" class="finder__select-option-input"
                                                value="114 d N47 D16 95 л.с.">
                                            <span class="finder__select-option-text js-select-option-text">
                                                114 d N47 D16 95 л.с.
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>

                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="modification" class="finder__select-option-input"
                                                value="114 d N47 D16 95 л.с.">
                                            <span class="finder__select-option-text js-select-option-text">
                                                114 d N47 D16 95 л.с.
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="modification" class="finder__select-option-input"
                                                value="118 d xDrive N47 D20C 143 л.с.">
                                            <span class="finder__select-option-text js-select-option-text">
                                                118 d xDrive N47 D20C 143 л.с.
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>
                                        <label class="finder__select-option js-select-option">
                                            <input type="radio" name="modification" class="finder__select-option-input"
                                                value="114 d N47 D16 95 л.с.">
                                            <span class="finder__select-option-text js-select-option-text">
                                                114 d N47 D16 95 л.с.
                                            </span>
                                            <span class="finder__select-option-checkmark">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                        </label>

                                    </div>
                                    <div class="finder__options-not-found">
                                        Результаты не найдены
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="finder__select-controls next-step-available">
                    <button class="finder__select-next-step js-select-choose-group" type="button">
                        Выбрать группы товаров
                    </button>
                    <button class="finder__select-save js-select-save-btn" type="button">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>