<section class="promo">
    <div class="promo__content">
        <h2 class="promo__heading">
            промо видео
        </h2>
        <div class="promo__nav">
            <div class="promo__nav-dropdown">
                <div class="promo__nav-dropdown-inner">
                    <ul class="promo__nav-list">
                        <li class="promo__nav-list-item">
                            <button class="promo__nav-btn active" type="button">
                                Все
                            </button>
                        </li>
                        <li class="promo__nav-list-item">
                            <button class="promo__nav-btn" type="button">
                                Luzar
                            </button>
                        </li>
                        <li class="promo__nav-list-item">
                            <button class="promo__nav-btn" type="button">
                                Carville racing
                            </button>
                        </li>
                        <li class="promo__nav-list-item">
                            <button class="promo__nav-btn" type="button">
                                Trialli
                            </button>
                        </li>
                        <li class="promo__nav-list-item">
                            <button class="promo__nav-btn" type="button">
                                Airline
                            </button>
                        </li>
                        <li class="promo__nav-list-item">
                            <button class="promo__nav-btn" type="button">
                                Starvolt
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="promo__wrapper">
            <div class="promo__bg">
                <img class="promo__bg-image" src="/images/promo-bg.webp" alt="">
            </div>
            <div class="promo__tabs">
                <div class="promo__tabs-item">
                    <div class="promo__slider">
                        <button class="promo__arrow promo__arrow--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <div class="promo__wrapper-inner">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="promo__slider-card">
                                            <div class="promo__slider-card-inner">
                                                <div class="promo__slider-card-image-container">
                                                    <img class="promo__slider-card-image" src="/images/promo.webp"
                                                        alt="">
                                                    <div class="promo__slider-card-play">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#play"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                                <div class="promo__slider-card-text">
                                                    Название видео в несколько строк на затемненной подложке
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="promo__slider-card">
                                            <div class="promo__slider-card-inner">
                                                <div class="promo__slider-card-image-container">
                                                    <img class="promo__slider-card-image" src="/images/promo.webp"
                                                        alt="">
                                                    <div class="promo__slider-card-play">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#play"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                                <div class="promo__slider-card-text">
                                                    Название видео в несколько строк на затемненной подложке
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="promo__slider-card">
                                            <div class="promo__slider-card-inner">
                                                <div class="promo__slider-card-image-container">
                                                    <img class="promo__slider-card-image" src="/images/promo.webp"
                                                        alt="">
                                                    <div class="promo__slider-card-play">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#play"></use>
                                                        </svg>
                                                    </div>

                                                </div>
                                                <div class="promo__slider-card-text">
                                                    Название видео в несколько строк на затемненной подложке
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="promo__arrow promo__arrow--next" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                        <div class="promo__slider-pagination">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>