<section class="promo-slider">
    <div class="promo-slider__content">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="promo-slider__card">
                        <img src="https://carvilleshop.ru/upload/main-slider/Trialli_936х203.jpg" alt=""
                            class="promo-slider__card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="promo-slider__card">
                        <img src="https://carvilleshop.ru/upload/main-slider/Trialli_936х203.jpg" alt=""
                            class="promo-slider__card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="promo-slider__card">
                        <img src="https://carvilleshop.ru/upload/main-slider/Trialli_936х203.jpg" alt=""
                            class="promo-slider__card-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>