<section class="recommended">
    <div class="recommended__content">
        <h2 class="recommended__heading">
            Рекомендуем
        </h2>
        <ul class="recommended__list">
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
            <li class="recommended__list-item">
                {{> product-card }}
            </li>
        </ul>
    </div>
</section>