@use "media";
@use "utils";

.finder {
  display: flex;
  flex-direction: column;

  .validation-error {
    color: var(--red);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    padding: 0 2rem;
    margin-top: 0.4rem;
  }

  @include media.breakpoint(small-mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 500;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0 var(--content-padding);
    padding-top: 1.6rem;
    padding-bottom: 10rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &.active {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

body:has(.finder.active) {
  @include media.breakpoint(small-mobile) {
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
  }
}

.finder__content {
  display: flex;
  flex-direction: column;
}
.finder__top {
  display: flex;
  align-items: center;
  gap: 1.8rem;

  @include media.breakpoint(small-mobile) {
    gap: 0.8rem;
    margin-bottom: 1.6rem;
  }
}

.finder__modes {
  align-self: flex-start;
  background-color: #fff;
  color: var(--text-color);
  padding: 1.6rem;
  border-top-right-radius: 2.8rem;
  border-top-left-radius: 2.8rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 2.8rem;
    height: 2.8rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url("../images/finder-corner.svg");
    pointer-events: none;
    margin-left: -0.5px;
    @include media.breakpoint(small-mobile) {
      display: none;
    }
  }
  @include media.breakpoint(small-mobile) {
    display: contents;
  }
}

.finder__modes-btns {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 3rem;
  padding: 0.4rem;
  background-color: #f6f6f6;

  @include media.breakpoint(small-mobile) {
    border-radius: 3rem;
    background: white;
    gap: 0;
  }
}

.finder__mode-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 2rem;
  transition: background-color 0.2s, color 0.2s;

  svg {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
  }

  &.active {
    background-color: var(--text-color);
    color: white;
  }

  @media (hover: hover) and (pointer: fine) {
    &:not(.active):hover {
      background-color: #e8e8e8;
      color: #2c2d2e;
    }
  }

  @include media.breakpoint(small-mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1.3rem 1.6rem;
    color: #565758;
  }
}

.finder__mode-btn-desktop-text {
  @include media.breakpoint(small-mobile) {
    display: none;
  }
}

.finder__mode-btn-mobile-text {
  display: none;
  @include media.breakpoint(small-mobile) {
    display: block;
  }
}
.finder__my-auto {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
  gap: 0.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 4rem;
  background-color: #fff;
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  &:link,
  &:visited {
    color: var(--text-color);
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
    transition: fill 0.2s;
    margin-top: 0.3rem;
    &:last-child {
      display: none;
    }
  }

  @include media.breakpointMF(mobile) {
    &.active {
      background-color: var(--primary-color);
      color: white;

      svg {
        &:last-child {
          display: block;
        }
      }
    }
  }

  @include media.breakpoint(small-mobile) {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    position: relative;
    border: 1px solid #d1d1d2;
    background-color: transparent;
    padding: 0;
    display: grid;
    place-items: center;
    flex-shrink: 0;
    transition: border-color 0.2s, background-color 0.2s;
  }
}

.finder__my-auto-text {
  @include media.breakpoint(small-mobile) {
    display: none;
  }
}

.finder__my-auto-amount {
  display: none;

  @include media.breakpoint(small-mobile) {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    z-index: 2;
    width: 1.6rem;
    height: 1.6rem;
  }
}

.finder__bottom {
  background-color: #fff;
  color: var(--text-color);
  border-bottom-left-radius: 2.8rem;
  border-bottom-right-radius: 2.8rem;
  border-top-right-radius: 2.8rem;
  padding: 1.6rem;
  position: relative;

  @include media.breakpoint(small-mobile) {
    display: contents;
  }
}

.finder__find-by-auto,
.finder__find-by-vin {
  display: none;

  &.active {
    display: block;
  }
}

.finder__find-by-vin {
  @include media.breakpoint(small-mobile) {
    padding-bottom: 4rem;
  }
}

.finder__auto-form {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  @include media.breakpoint(small-mobile) {
    display: contents;
  }
}

.finder__auto-selects {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 30%;
  flex-grow: 1;

  @include media.breakpointMF(mobile) {
    .finder__select-wrapper {
      &:nth-child(1) {
        width: 17.6rem;
      }
      &:nth-child(2) {
        width: 17.6rem;
      }

      &:nth-child(3) {
        width: 11.6rem;
      }
      &:nth-child(4) {
        width: 17.6rem;
      }
      &:nth-child(5) {
        width: 17.6rem;
      }
    }
  }

  @include media.breakpoint(small-mobile) {
    width: auto;
    flex-grow: 0;
    flex-direction: column;
    align-items: stretch;
    gap: 0.8rem;
  }
}

.finder__select-wrapper {
  position: relative;

  // &--initially-disabled {
  //   .finder__select-btn-label {
  //     border-color: #e8e8e8;
  //     pointer-events: none;
  //   }

  //   .finder__select-arrow svg {
  //     fill: #e8e8e8;
  //   }
  // }

  @include media.breakpoint(small-mobile) {
    flex-grow: 0;
    background-color: #fff;
    border-radius: 1.8rem;
    padding: 1.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;

    // &--initially-disabled {
    //   .finder__select-title {
    //     color: #d1d1d2;
    //   }
    //   .finder__select-active-wrapper {
    //     display: none;
    //   }
    // }

    // &:has(.option-selected) + .finder__select-wrapper--initially-disabled {
    //   .finder__select-title {
    //     color: var(--text-color);
    //   }
    //   .finder__select-active-wrapper {
    //     display: block;
    //   }
    // }
  }
}
.finder__select-active-tags {
  display: contents;
}

.finder__select-active-tag {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  border-radius: 2.2rem;
  border: 1px solid #d1d1d2;
  background: white !important;
  color: var(--text-color);
  width: auto;
  &.active {
    border-color: var(--primary-color);
  }
}

.finder__select-active-wrapper {
  display: none;
  @include media.breakpoint(small-mobile) {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-top: 1.2rem;

    .initialized & {
      display: flex;
    }
  }
}

.finder__select-search-icon {
  display: none;
  @include media.breakpoint(small-mobile) {
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin: -1px;
    // margin: -1.5rem 0;
    // margin-right: -2.1rem;
    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: white;
    }
  }
}

.finder__select-more-tags-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 0.8rem 1.2rem;
  border-radius: 2.2rem;
  background-color: var(--primary-color);
  color: white;
  padding-top: 0.7rem;
  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: white;
    margin-top: 0.1rem;
  }
}
.finder__select {
  position: relative;

  &:has(.finder__select-dropdown.active) .finder__select-arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &:has(.finder__select-input:focus) {
    .finder__select-btn-label {
      border-color: var(--primary-color);
    }

    .finder__select-btn-label-text {
      color: var(--text-color);
    }

    .finder__select-arrow {
      svg {
        fill: #8b8d8e;
      }
    }
  }

  &:has(.finder__select-input[readonly]) {
    .finder__select-clear-btn {
      display: grid;
    }

    .finder__select-arrow {
      display: none;
    }
  }

  &:not(.initialized) {
    .finder__select-btn-label {
      border-color: #e8e8e8;
    }

    .finder__select-arrow svg {
      fill: #e8e8e8;
    }

    .finder__select-btn-label-text {
      color: #e8e8e8;
    }
  }

  @include media.breakpoint(small-mobile) {
    width: auto;
  }
}

.finder__submit-btn-wrapper {
  display: contents;
  @include media.breakpoint(small-mobile) {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.6rem;
    border-radius: 2rem 2rem 0rem 0rem;
    background: white;
    box-shadow: 0rem -0.4rem 2.4rem 0rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
}

.finder__select-clear-btn {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  border-radius: 0.8rem;
  display: none;
  transition: background-color 0.2s;
  width: 2.4rem;
  height: 2.4rem;

  svg {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    transition: fill 0.2s;
    fill: #8b8d8e;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: rgba(255, 110, 0, 0.05);
      svg {
        fill: var(--primary-color);
      }
    }
  }

  @include media.breakpoint(small-mobile) {
    right: 5.6rem;
  }
}

.finder__submit-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
  background-color: var(--primary-color);
  transition: color 0.2s, background-color 0.2s;
  color: white;
  border-radius: 4rem;
  margin-left: auto;
  view-transition-name: submit;
  svg {
    flex-shrink: 0;
    fill: currentColor;
    width: 1.6rem;
    height: 1.6rem;
    transition: transform 0.2s;
  }

  &[disabled] {
    background-color: #f6f6f6;
    color: #d1d1d2;
    cursor: default;
  }

  @media (hover: hover) and (pointer: fine) {
    &:not([disabled]):hover {
      background-color: var(--primary-color-hover);
    }
  }

  &:not([disabled]):active {
    background-color: var(--primary-color-pressed);
  }

  @include media.breakpoint(small-mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    padding: 1.2rem 3.6rem;
    text-align: center;
    margin: 0;
  }
}

.finder__submit-btn-mobile-text {
  display: none;
  @include media.breakpoint(small-mobile) {
    display: block;
  }
}

.finder__submit-btn-desktop-text {
  @include media.breakpoint(small-mobile) {
    display: none;
  }
}
.finder__select-btn-wrapper {
  @include media.breakpoint(small-mobile) {
    position: relative;
  }
}

.finder__select-btn-label {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.4rem 1.6rem;
  padding-left: 0;
  padding-right: 2rem;
  border-radius: 2.4rem;
  border: 1px solid #d1d1d2;
  background: white;
  position: relative;
  transition: border-color 0.2s;
  // padding-right: 5rem;

  @include media.breakpoint(small-mobile) {
    padding: 0;
  }
}

.finder__select-btn-label-text {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  color: #b2b4b3;
  transition: all 0.2s;
  pointer-events: none;
  padding: 0.2rem 1rem;
  border-radius: 0.9rem;

  .finder__select-input:focus ~ &,
  .finder__select-input:not(:placeholder-shown) ~ & {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    top: 0;
    transform: translateY(-50%) translateY(-0.3rem);
    background-color: #fff;
    color: #8b8d8e;
  }
}

.finder__select-input {
  display: block;
  width: 30%;
  flex-grow: 1;
  padding: 0 2rem;
  padding-right: 0;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  height: 1.8rem;
  color: var(--text-color);
  text-overflow: ellipsis;
  padding-right: 2rem;

  @include media.breakpoint(small-mobile) {
    padding-right: 4rem;
  }

  &::placeholder {
    color: #b2b4b3;
    transition: opacity 0.2s;
    opacity: 0;
  }

  &:focus {
    &::placeholder {
      opacity: 1;
    }
  }
}

.finder__select-arrow {
  flex-shrink: 0;
  margin-left: auto;
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 0.2s;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #b2b4b3;
    transition: fill 0.2s;
  }

  @include media.breakpoint(small-mobile) {
    display: none;
  }
}

.finder__select-title {
  display: none;
  @include media.breakpoint(small-mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;

    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.finder__form {
  display: flex;
  flex-direction: column;
}

.finder__select-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding-top: 0.4rem;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;

    @include media.breakpoint(small-mobile) {
      display: block;
      transition: none;
    }
  }

  @include media.breakpoint(small-mobile) {
    all: revert;
    box-sizing: border-box;
    margin-top: 1.6rem;
  }
}

.finder__select-dropdown-inner {
  border-radius: 2rem;
  background: white;
  box-shadow: 0rem 0.8rem 2rem 0rem rgba(44, 45, 46, 0.12);
  overflow: hidden;
  padding-right: 0.4rem;

  @include media.breakpoint(small-mobile) {
    all: revert;
    box-sizing: border-box;
  }
}

.finder__select-scroll-wrapper {
  max-height: 20rem;
  overflow-x: hidden;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  @include media.breakpoint(small-mobile) {
    max-height: none;
    padding: 0;
  }
  &::-webkit-scrollbar {
    background-color: white;
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 0.6rem;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    border-radius: 0.6rem;
  }
}

.finder__select-options {
  display: flex;
  flex-direction: column;
}

.finder__mobile-popup {
  display: contents;
  @include media.breakpoint(small-mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 500;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0 var(--content-padding);
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
    display: none;
    backdrop-filter: none;
    padding-bottom: 0;
    &.active {
      display: flex;
    }
  }
}

.finder__mobile-popup-inner {
  display: contents;

  @include media.breakpoint(small-mobile) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.finder__mobile-popup-header {
  display: none;

  @include media.breakpoint(small-mobile) {
    display: block;
    margin-bottom: 1.6rem;
  }
}

.finder__mobile-popup-back {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  text-transform: uppercase;

  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }
}

.finder__select-option {
  display: block;
  cursor: pointer;
  width: 100%;

  &.hidden {
    display: none;
  }

  @include media.breakpoint(small-mobile) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    padding: 0.8rem 1.2rem;
    border-radius: 1.2rem;
    &:has(.finder__select-option-input:checked) {
      background-color: rgba(255, 110, 0, 0.05);
    }
  }
}

.finder__select-option-checkmark {
  display: none;

  @include media.breakpoint(small-mobile) {
    display: block;
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    transition: opacity 0.2s;
    opacity: 0;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }

    .finder__select-option-input:checked ~ & {
      opacity: 1;
    }
  }
}
.finder__select-option-input {
  display: none;
}

.finder__select-option-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 0.8rem 1.6rem;
  transition: background-color 0.2s;
  display: block;

  @include media.breakpointMF(mobile) {
    .finder__select-option-input:checked ~ & {
      background-color: rgba(255, 110, 0, 0.05);
    }
  }

  @include media.breakpoint(small-mobile) {
    all: revert;
    box-sizing: border-box;
  }
}

.finder__options-not-found {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding: 0.4rem 1.6rem;
  transition: background-color 0.2s;
  text-align: center;
  color: #8b8d8e;
  color: var(--primary-color);
}

.finder__select-dropdown-inner:has(.finder__select-option:not(.hidden))
  .finder__options-not-found {
  display: none;
}

.finder__find-by-vin-form {
  display: flex;
  flex-direction: column;
}

.finder__find-by-vin-form-fields {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-auto-flow: dense;
  grid-gap: 0.8rem;
  grid-row-gap: 1.6rem;

  @include media.breakpoint(small-mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.8rem;
  }
}

.finder__find-by-vin-form-text-inputs {
  display: contents;

  @include media.breakpoint(small-mobile) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 3rem;
    background: white;
    padding: 1.6rem;
  }
}

.finder__find-by-vin-form-field {
  display: flex;
  flex-direction: column;
}

.finder__find-by-vin-form-field--large {
  grid-column: 4 / -1;
  grid-row: 1 / 3;
}

.finder__text-input-label {
  display: block;
  position: relative;

  &--stretch {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.finder__text-input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.finder__text-input {
  display: block;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 0 2rem;
  border-radius: 2.4rem;
  border: 1px solid #d1d1d2;
  background: white;
  transition: background-color 0.2s, color 0.2s;
  height: 4.8rem;
  display: block;

  &::placeholder {
    color: #b2b4b3;
  }

  &::placeholder {
    opacity: 0;
  }

  &.not-valid {
    border-color: var(--red);
  }
}

textarea.finder__text-input {
  height: 11.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-grow: 1;

  @include media.breakpoint(small-mobile) {
    height: 16rem;
  }

  & ~ .finder__text-input-label-text {
    top: 2.5rem;
  }
}

.finder__text-input-label-text {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  color: #b2b4b3;
  transition: all 0.2s;
  pointer-events: none;
  padding: 0.2rem 1rem;
  border-radius: 0.9rem;

  .finder__text-input:focus ~ &,
  .finder__text-input:not(:placeholder-shown) ~ & {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    top: 0;
    transform: translateY(-50%) translateY(-0.3rem);
    background-color: #fff;
    color: #8b8d8e;
  }
}

.finder__find-by-vin-form-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 0.8rem;

  @include media.breakpoint(small-mobile) {
    margin: 0;
    align-items: stretch;
    gap: 1rem;
    justify-content: flex-start;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.6rem;
    border-radius: 2rem 2rem 0rem 0rem;
    background: white;
    box-shadow: 0rem -0.4rem 2.4rem 0rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
}

.finder__find-by-vin-form-policy-wrapper {
  @include media.breakpoint(small-mobile) {
    order: 2;
  }
  .validation-error {
    display: none;
  }

  &:has(.validation-error) {
    .finder__find-by-vin-form-policy-mark {
      border-color: var(--red);
    }
  }
}

.finder__find-by-vin-form-policy {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
  @include media.breakpoint(small-mobile) {
    align-items: flex-start;
    gap: 0.8rem;
  }
}

.finder__find-by-vin-form-policy-input {
  display: none;
}

.finder__find-by-vin-form-policy-mark {
  flex-shrink: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.4rem;
  display: grid;
  place-items: center;
  transition: border-color 0.2s, background-color 0.2s;
  border: 1px solid #d1d1d2;

  svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    transition: opacity 0.2s;
    opacity: 0;
    fill: var(--text-color);
  }

  .finder__find-by-vin-form-policy-input:checked ~ & {
    svg {
      opacity: 1;
    }
  }
}

.finder__find-by-vin-form-policy-text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  color: #8b8d8e;

  a {
    text-decoration-thickness: 1px;
    text-decoration: underline;
    transition: text-decoration-color 0.2s;
    text-decoration-color: currentColor;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.finder__find-by-vin-form-submit {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
  background-color: var(--primary-color);
  transition: background-color 0.2s, color 0.2s;
  padding: 1.6rem 2rem;
  border-radius: 7rem;
  flex-shrink: 0;
  color: white;
  view-transition-name: submit;

  svg {
    width: 1.6rem;
    height: 1.6rem;
    &:nth-child(2) {
      display: none;
    }
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &:active {
    background-color: var(--primary-color-pressed);
  }

  @include media.breakpoint(small-mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    padding: 1.2rem 3.6rem;
    text-align: center;
    margin: 0;

    svg {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: block;
      }
    }
  }
}

.finder__select-group {
  @include media.breakpoint(small-mobile) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.6rem;
    border-radius: 3rem;
    background: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.finder__select-group-inner {
  position: relative;
}

.finder__select-group:has(.validation-error) .finder__select-btn-label {
  border-color: var(--red);
}

.finder__find-saved-auto {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
  border-radius: 2.8rem;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  box-shadow: 0rem 0.4rem 0.8rem -0.4rem rgba(22, 34, 51, 0.08),
    0rem 1.6rem 2.4rem 0rem rgba(22, 34, 51, 0.08);
  padding: 2rem 2.4rem;
  display: none;

  &.active {
    display: block;
  }

  @include media.breakpoint(small-mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 500;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);

    color: var(--text-color);
    padding: 0 var(--content-padding);
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
    display: none;
    backdrop-filter: none;
    &.active {
      display: block;
    }
  }
}

.finder__find-saved-auto-wrapper {
  display: grid;
  grid-template-columns: 0.85fr 1fr 0.5fr 0.8fr 1.2fr 1fr 0.8fr;

  @include media.breakpoint(small-mobile) {
    display: flex;
    flex-direction: column;
  }
}

.finder__find-saved-auto-header {
  margin-bottom: 1.2rem;
  display: grid;
  grid-template-columns: subgrid;

  grid-column: 1 / -1;

  @include media.breakpoint(small-mobile) {
    display: none;
  }
}

.finder__find-saved-auto-header-item {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
  color: #565758;
  padding: 0 1.6rem;
}

.finder__find-saved-auto-items {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  background-color: #fff;
  border-radius: 1.6rem;
  overflow: clip;
  padding-right: 0.3rem;

  @include media.breakpoint(small-mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    gap: 0.8rem;
  }
}

.finder__find-saved-auto-items-scroll-wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  overflow-x: hidden;
  max-height: 30rem;

  &::-webkit-scrollbar {
    background-color: white;
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 0.6rem;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    border-radius: 0.6rem;
  }

  @include media.breakpoint(small-mobile) {
    all: revert;
    box-sizing: border-box;
    display: block;
    display: contents;
  }
}

.finder__find-saved-auto-item {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  border-bottom: 1px solid #f6f6f6;
  align-items: baseline;
  &:last-child {
    border: none;
  }

  @include media.breakpoint(small-mobile) {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    border-radius: 2rem;
    background: white;
    border: none;
    gap: 1.2rem;
    align-items: stretch;
  }
}

.finder__find-saved-auto-item-cell {
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;

  .finder__find-saved-auto-item--removed & {
    color: #d1d1d2;
  }

  @include media.breakpoint(small-mobile) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 0;

    &::before {
      content: attr(data-title);
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.8rem;
      color: #565758;
    }

    .finder__find-saved-auto-item--removed & {
      &::before {
        color: #d1d1d2;
      }
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}

.finder__find-saved-auto-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @include media.breakpoint(small-mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.2rem;
    margin-top: 1.2rem;
    width: 100%;
  }
}

.finder__find-saved-auto-apply-btn {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--primary-color);

  @include media.breakpoint(small-mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    order: 10;
    padding: 1.2rem 2.4rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 4rem;
  }
}

.finder__find-saved-auto-remove-btn {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  display: grid;
  place-items: center;
  margin-left: auto;
  border-radius: 0.8rem;
  transition: background-color 0.2s;

  svg {
    width: 1.6rem;
    height: 1.6rem;
    transition: fill 0.2s;
    fill: #8b8d8e;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: rgba(255, 110, 0, 0.05);
      svg {
        fill: var(--primary-color);
      }
    }
  }

  @include media.breakpoint(small-mobile) {
    margin: 0;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    padding: 1.2rem 2.4rem;
    border: 1px solid #d1d1d2;
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    border-radius: 4rem;
    width: auto;
    height: auto;

    svg {
      display: none;
    }
  }
}

.finder__find-saved-auto-remove-btn-text {
  display: none;
  @include media.breakpoint(small-mobile) {
    display: block;
  }
}

.finder__find-saved-auto-return-btn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 4rem;
  background: #f6f6f6;
  transition: color 0.2s, background-color 0.2s;
  color: var(--text-color);

  svg {
    fill: currentColor;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.1rem;
  }

  @include media.breakpoint(small-mobile) {
    margin: 0;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    order: 10;
    padding: 1.2rem 2.4rem;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    border-radius: 4rem;
    width: auto;
    height: auto;
    grid-column: 1 / -1;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.finder__close-btn {
  display: none;

  @include media.breakpoint(small-mobile) {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    text-transform: uppercase;
    gap: 0.8rem;
    margin-bottom: 1.7rem;
    svg {
      fill: currentColor;
      width: 2.4rem;
      height: 2.4rem;
      margin-top: 0.1rem;
    }
  }
}

.finder__find-saved-auto-back-btn {
  display: none;
  @include media.breakpoint(small-mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
    svg {
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
      fill: currentColor;
    }
  }
}
