@use "media";
@use "utils";

.intro {
  @include utils.blockWrapper;
  margin-bottom: 6rem;
  padding-top: 2rem;
  position: relative;
  z-index: 10;

  @include media.breakpoint(small-mobile) {
    padding-top: 2rem;
    margin-bottom: 6rem;
  }
}

.intro__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.intro__wrapper {
  position: relative;
  z-index: 1;
  padding: 2.4rem;

  color: white;
  gap: 5rem;
  display: flex;
  flex-direction: column;

  @include media.breakpoint(small-mobile) {
    padding: 2rem 2.4rem;
    gap: 4.2rem;
  }
}

.intro__wrapper-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--text-color);
  border-radius: 3rem;
  overflow: hidden;
}

.intro__wrapper-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__text-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include media.breakpoint(small-mobile) {
    gap: 0.8rem;
  }
}

.intro__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.6rem;
  text-transform: uppercase;
  max-width: 58rem;

  @include media.breakpoint(small-mobile) {
    max-width: none;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
  }
}

.intro__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  color: #d1d1d2;

  br {
    display: none;
  }

  @include media.breakpoint(small-mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;

    br {
      display: block;
    }
  }
}

.intro__open-finder-btn {
  display: none;

  @include media.breakpoint(small-mobile) {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    color: white;
    padding: 1.2rem 1.6rem;
    background-color: var(--primary-color);
    transition: color 0.2s, background-color 0.2s;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    border-radius: 4rem;
  }
}
