@use "media";

:root {
  --primary-color: #ff6e00;
  --primary-color-hover: #e56300;
  --primary-color-pressed: #cc5800;
  --bg-color: #f6f6f6;
  --text-color: #2c2d2e;
  --lato: "Lato", sans-serif;
  --content-padding: 4rem;
  --container-width: 135rem;

  @include media.breakpoint(mobile) {
    --content-padding: 2rem;
  }
}
